SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_WEB_CLIENT_ID=
KAKAO_LOCAL_REST_API_KEY=
KAKAO_MAP_JAVASCRIPT_KEY=
STATSIG_CLIENT_KEY=FILL_THIS
NEXT_PUBLIC_STATSIG_CLIENT_KEY=FILL_THIS
STATSIG_SERVER_KEY=FILL_THIS
